<?xml version="1.0" encoding="utf-8"?>
<openerp>
<data>
<!-- Front-end/Back-end integration -->
<template id="user_navbar_version" inherit_id="website.layout" groups="base.group_user">
    <xpath expr="//li['class=dropdown']" position="after">
            <li class="dropdown" id="version-menu" groups="base.group_website_designer">
                <a id="version-menu-button" class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Version optimale ( <t t-if="request.session.get('snapshot_id')==None or request.session.get('snapshot_id')==0">Master</t>
                            <t t-if="not request.session.get('snapshot_id')==None and not request.session.get('snapshot_id')==0">
                                <t t-esc="website.get_current_snapshot()"></t>
                            </t>)<span class="caret"></span>
                </a>
                <ul class="dropdown-menu oe_content_menu" role="menu">
                    <li groups="base.group_website_designer"><a href="#" data-action="snapshot">Create a new snapshot</a></li>
                    <li class="divider" groups="base.group_website_designer"> </li>
                    <li groups="base.group_website_designer"><a href="#" data-action="qweb_number">Number of Qweb views</a></li>
                    <li class="divider" groups="base.group_website_designer"> </li>
                    <li class="snapshot" ><span>Previous snapshot</span></li>
                </ul>
            </li>
    </xpath>
</template>
</data>
</openerp>